# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

# Some of the commonly used libraries used by Data Scientists include:
1. **Pandas** (for data manipulation and analysis)
2. **NumPy** (for numerical computing)
3. **Matplotlib** (for data visualization)
4. **Seaborn** (for statistical data visualization)
5. **Scikit-learn** (for machine learning)
6. **TensorFlow** (for deep learning)

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.
- **Addition**: `5 + 3` results in `8`
- **Subtraction**: `10 - 4` results in `6`
- **Multiplication**: `7 * 6` results in `42`
- **Division**: `8 / 2` results in `4`

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- Learn how to create and display markdown tables.
- Understand basic arithmetic expressions and their usage.
- Explore popular languages for Data Science (e.g., Python, R).
- Discover open-source tools commonly used for Data Science (e.g., Jupyter, RStudio).

## Author

Sonali Sangle